<!--
    Wait.... You're actually looking at my code........ Thank you!!!!
    Hopefully everything is easy to find. My goal was to have this site completely hosted on github for free.
    My custom made css templete follows my own website design methods. These methods are based on percentages.
    To do this I emplemented a series of clickable items that would lead to each scene. This is controlled by conditionals in the <script> tag
    If you would like to colaberate...
    Email me at:
        travis.c.j.gray@gmail.com
    with subject 'CONCATINATE'

    Navigate to:
        127.0.0.1:5000/

-->

<html class="g-FlexFit">
<head>
    <title>
        {{Title}}
    </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/Covid_19_Virus.png') }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/GrayPry_Globals.css') }}">

    <!-- Local css -->

    <style>
    </style>

</head>
<body class="g-FlexFit  g-century-gothic bg ">

    <div class="g-height100 g-width100 {{ Colors['Border_Primary'] }} {{ Colors['Primary'] }} g-centered-text">

        <!-- Logo Section -->
        <div class="g-height55 g-width100">
            <div class="g-height15 g-width100">

            </div>
            <div class="g-height70 g-width100">

                <!-- Logo grabbed from 'Pictures' Folder -->
                <img class="g-ImageFit" src="{{url_for('static', filename='images/Covid_19_Virus.png')}}" alt="Logo">

            </div>
            <div class="g-height15 g-width100">

            </div>
        </div>

        <div class="g-height45 g-width100 ">

            <div class="g-height100 g-width10  g-FL">
                <!-- Buffer Left -->
            </div>

            <div class="g-height100 g-width80  g-FL">

                <div class="g-height25 g-width100  g-FL">
                    <!-- Report Covid-19 -->
                    <div class="g-height50 g-width100  g-FL">
                        <form action="/Report_Covid_19">
                            <button class="g-FlexFit {{ Buttons['Button_Primary'] }} {{ Buttons['Button_Secondary_Text'] }} {{ Buttons['Button_Text_Size'] }} {{ Buttons['Button_Style'] }} g-border-color-no-top-left" type="submit">
                                Report Covid-19
                            </button>
                        </form>
                    </div>
                </div>
                <div class="g-height25 g-width100  g-FL">
                    <!-- Covid-19 Map -->
                    <div class="g-height50 g-width5  g-FL">

                    </div>
                    <div class="g-height50 g-width90  g-FL">
                        <form action="/Covid_19_Map">
                            <button class="g-FlexFit {{ Buttons['Button_Secondary'] }} {{ Buttons['Button_Secondary_Text'] }} {{ Buttons['Button_Text_Size'] }} {{ Buttons['Button_Style'] }} g-border-color-no-top-left" type="submit">
                                Covid-19 Map
                            </button>
                        </form>
                    </div>
                </div>
                <div class="g-height25 g-width100  g-FL">
                    <!-- About Tracker -->
                    <div class="g-height50 g-width10  g-FL">

                    </div>
                    <div class="g-height50 g-width80  g-FL">
                        <form action="/About_Tracker">
                            <button class="g-FlexFit {{ Buttons['Button_Primary'] }} {{ Buttons['Button_Secondary_Text'] }} {{ Buttons['Button_Text_Size'] }} {{ Buttons['Button_Style'] }} g-border-color-no-top-left" type="submit">
                                About Tracker
                            </button>
                        </form>
                    </div>
                </div>
                <div class="g-height25 g-width100  g-FL">
                    <!-- Donate -->
                    <div class="g-height50 g-width15  g-FL">

                    </div>
                    <div class="g-height50 g-width70  g-FL">
                        <form action="/Donate">
                            <button class="g-FlexFit {{ Buttons['Button_Secondary'] }} {{ Buttons['Button_Secondary_Text'] }} {{ Buttons['Button_Text_Size'] }} {{ Buttons['Button_Style'] }} g-border-color-no-top-left" type="submit">
                                Donate
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="g-height100 g-width10  g-FL">
                <!-- Buffer Right -->
            </div>

        </div>

    </div>

    <script>
                    // Local Javascript
    </script>

</body>
</html>